*{
  margin:0;
}

/*Registration page */
.container{
  margin: auto;
  text-align: center;
  width:80%;
  background-color: #eeeeee;
  padding: 25px;
  margin-top: 25px;
  border: 3px solid darkorange;
  border-radius: 5px;
}
.info h2{
  color: white;
  font-size: 3em;
  padding-top: 100px;
  text-align: center;
}
.info, .thankyou{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("info.jpg");
  background-position: top;
  background-size: auto;
}


/* index page */
.header-image {
  background-image: url("header.png");
  min-height: 600px;
  background-size: cover;
  background-position: top;
  border: 5px solid black;
}

.header-text {
  -webkit-text-stroke: 2px darkorange;
  text-align: center;
  position: relative;
  top: 435px;
  color: white;
  font-size: 3.5em;
}

nav {
  overflow: hidden;
  position: fixed;
  background-color: rgb(255,140,0);
  color: white;
  text-align: center;
  clear: both;
  height:50px;
  width: 100%;
  z-index: 1;
}

nav ul li{
  display:inline-block;
  list-style-type: none;
  margin: 0px 25px 0px 25px;
  clear: both;
  width: 400px;
}

nav ul li a {
  padding: 10px;
  font-size: 1.75em;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  clear: both;
  color: white;
  display: block;
}

nav ul li a:hover{
  background-color: orange;
}

.index img{
  float: right;
  max-width: 425px;
  margin-right: 100px;
  position: relative;
  bottom: 50px;
  border: 3px solid black;
}

.index h2{
  margin-left: 100px;
  margin-top: 25px;
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: underline;
}

.index p{
  margin-left: 100px;
  font-size: 1.2em;
}



.covid{
  position: relative;
  top: 100px;
}

.covid img{
  position: relative;
  bottom: 150px;
}


footer {
  position: relative;
  left: 0;
  bottom: 0;
  color: black;
  font-size: 1.5em;
  clear: both;
  background-color: rgb(204,112,0);
  height: 50px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.info footer, .thankyou footer{
  position:fixed;
  bottom: 0;
  left:0;
}
footer address a{
  line-height: 2em;
}

footer address a:hover{
  color: orange;
}
